@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking1 {
    0% { border-color: transparent }
    50% { border-color: #FF6B81 }
    100% { border-color: transparent }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF7ED;
    padding-top: 125px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 50px;
}

p {
    color: #5A4742;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    display: inline;
}

.pink-space {
    color: #FF6B81;
    font-weight: bold;
    font-size: 14px;
}

.gray-space {
    color: #5A4742;
    font-weight: bold;
    font-size: 14px;
}

.mood {
    display: block;
}

.play {
    height: 40px;
    border-radius: 50%;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    gap: 10px;
}

.omori {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border: solid #5A4742;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 350px;
    width: 600px;
    background-color:#8fb39a;
    position: relative;
}

.path1 {
    background-color:#D6B5AA;
    height: 50px;
    width: 181px;
    border-bottom-left-radius: 15px;
    grid-column: 2;
    grid-row: 5;
    z-index: 1;
}

.path2 {
    background-color: #D6B5AA;
    height: 140px;
    width: 55px;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
}

.grass1 {
    height: 120px;
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 15px;
}

.grass2 {
    height: 120px;
    grid-column: 1;
    grid-row: 4;
}

.grass3 {
    height: 120px;
    grid-column: 3;
    grid-row: 1;
}

.grass4 {
    height: 120px;
    grid-column: 3;
    grid-row: 4;
}

.grass5 {
    height: 120px;
    grid-column: 5;
    grid-row: 1;
}

.grass6 {
    height: 120px;
    grid-column: 5;
    grid-row: 4;
}

.grass7 {
    height: 120px;
    grid-column: 7;
    grid-row: 1;
}

.grass8 {
    height: 120px;
    grid-column: 7;
    grid-row: 4;
}

.grass9 {
    height: 120px;
    grid-column: 9;
    grid-row: 1;
    border-top-right-radius: 15px;
}

.grass10 {
    height: 120px;
    grid-column: 9;
    grid-row: 4;
}

.room-box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    border: solid #5A4742;
    background-color:#FFF3E6;
    height: 175px;
    width: 250px;
    grid-column: 5;
    grid-row: 2;
    z-index: 1;
}

.team {
    height: 100px;
}

.caption {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.cat:hover, .laptop:hover, .headphones:hover, .girl:hover, .play:hover {
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}

.cat {
    height: 125px;
    grid-column: 7;
    grid-row: 4;
    z-index: 2;
}

.laptop {
    height: 100px;
    grid-column: 1;
    grid-row: 1;
}

.headphones {
    height: 80px;
    grid-column: 4;
    grid-row: 1;
}

.girl {
    height: 125px;
    grid-column: 2;
    grid-row: 2;
}

.dialogue-box {
    height: 100px;
    width: 600px;
    border-radius: 15px;
    border-top: solid 3px #5A4742;
    grid-row: 8;
    position: relative;
    background-color: #fff1ee;
}

.name {
    color: #FF6B81;
    font-size: 18px;
    font-family: "Palatino Linotype", "Palatino", serif;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 115px;
    padding-bottom: 5px;
}

.dialogue {
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    padding-left: 115px;
    color: #5A4742;
    font-weight: 400;
    padding-right: 30px;
}

.headshot {
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    top: 248px;
    left: 0px;
    height: 102px;
}

.hero{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

.contact-grid {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: repeat(5, 40px);
    height: 200px;
    width: 240px;
    border: solid #5A4742;
    text-align: left;
    align-items: center;
    background-color: #FFF3E6;
}


.contact-icon1 {
    height: 40px;
    width: 240px;
    grid-column: 1;
    grid-row: 1;
    background-color:#FFAC8A;
}

.contact-icon2 {
    height: 40px;
    grid-column: 1;
    grid-row: 2;
}

.contact-icon3 {
    height: 40px;
    grid-column: 1;
    grid-row: 3;
}

.contact-icon4 {
    height: 40px;
    grid-column: 1;
    grid-row: 4;
}

.contact-icon5 {
    height: 40px;
    grid-column: 1;
    grid-row: 5;
}

.contact-icon6 {
    height: 40px;
    margin-left: 150px;
}

.contact-details1 {
    grid-column: 2;
    grid-row: 1;
    color:#FFF3E6;
    font-family: "Georgia", serif-sans;
    font-size: 20px;
    font-weight: 400;
}

.contact-details2 {
    grid-column: 2;
    grid-row: 2;
}

.contact-details3 {
    grid-column: 2;
    grid-row: 3;
}

.contact-details4 {
    grid-column: 2;
    grid-row: 4;
}

.contact-details5 {
    grid-column: 2;
    grid-row: 5;
}

.flexbox {
    display: flex;
    gap: 50px;
}

.text {
    flex: 1;
}

.gallery {
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}

.pic {
    height: 200px;
    flex: 2;
    border: 1.5px solid #5A4742;
    border-radius: 5px;
    margin-right: 20px;
}

.pic2 {
    width: 450px;
}

.title {
    color: #FF6B81;
    font-size: 50px;
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: bold;
    grid-column: 1;
}

.bar {
    background-color: #5A4742;
    height: 2px;
    grid-column: 3;
}

.bar2 {
    background-color: #5A4742;
    height: 1px;
}

.space {
    grid-column: 2;
}

.flexy {
    display: grid;
    grid-template-columns: auto 1fr 50fr;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.skills img:hover {
    transform: scale(1.05);
}

.skills2 {
    color: #5A4742;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: bold;
    display: inline;
}

.tailwind {
    height: 45px;
    margin-top: 5px;
}

.pop-ups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,440px);
    justify-content: space-between;
}

.rounded-box {
    border: solid #5A4742;
    border-radius: 25px;
    height: 400px;
    width: 450px;
    background-color: #fff1ee;
}

.pic2 {
    border: solid #5A4742;
    border-radius: 25px;
    width: 450px;
    margin-bottom: 15px;
}

.rounded-box:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 2px 1px #FFE1CC;
}

.pic2:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 2px 1px #FFE1CC;
}

.circles {
    margin: 15px;
    display: flex;
}

.dark-pink {
    background-color:#FF6B81;
    border-radius: 50%; 
    height: 15px;
    width: 15px;
    margin: 3px;
}

.exp {
    margin-left: 5px;
    margin-top: 2px;
}

.light-pink {
    background-color:#FFAC8A;
}

.gray {
    background-color:#8fb39a;
}

.www {
    height: 50px;
}

.bug {
    margin-left: -3px;
}

.description1 {
    margin: 25px;
    color: #5A4742;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
}

.description2 {
    margin: 25px;
    color: #5A4742;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
}

.topic {
    font-weight: bold;
    font-size: 24px;
    color:#FF6B81;
    margin-bottom: 8px;
    font-family: "Palatino Linotype", "Palatino", serif
}

ul {
    padding-left: 15px;
}

.thin {
    font-weight: 300;
    font-style: italic;
}

.outer {
    border: solid #5A4742;
    border-radius: 20px;
    height: 300px;
    width: 609px;
    background-color: #F2F4E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    border-radius: 15px;
    height: 25px;
    width: 609px;
    display: flex;
}

.inner {
    border-radius: 20px;
    border: solid #c7b8b4;
    height: 236px;
    width: 396px;
    background-color: #FFF3E6;
    margin-right: 15px;
    margin-left: 10px;
}

.controls1 {
    height: 175px;
}

.controls2 {
    height: 175px;
}

.holes {
    height: 175px;
    margin-right: 10px;
}

.ds-and-games {
    display: flex;
}

.game {
    border: solid #5A4742;
    border-radius: 10px 10px 10px 30px;
    height: 128px;
    width: 121px;
    background-color: #696969;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.on:hover {
    box-shadow: 0 3px 4px 0 #FFE1CC;
    opacity: 0.9;
    transform: scale(1.02);
    cursor: pointer;
}

.game-tag {
    display: flex;
    border-radius: 10px;
    height: 93px;
    width: 93px;
    margin-top: 10px;
    background-color: #FFF3E6;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    height: 15px;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 20%);
    gap: 20px;
    margin-left: 50px;
}

.contact {
    display: flex;
    gap: 20px;
    color: #5A4742;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    margin-top: 150px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    color: black;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    position: fixed;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    background-color: #fff1ee;
    padding: 20px;
    width: 100%;
    margin-left: -235px;
    opacity: 0.8;
}

a:hover {
    color: #FFAC8A;
}

a {
    text-decoration: none;
    color: #5A4742;
}

footer {
    color: #5A4742;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    display: inline;
}

.container {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    width: 0;
    border-right: .15em solid transparent;
    font-size: 50px;
    white-space: nowrap;
    animation: typing 3s steps(23, end) forwards, blinking1 .8s 5, blinking2 .8s 2;
}

.prettypics {
    height: 250px;
    margin-bottom: 10px;
}

.prettypics2 {
    height: 150px;
    margin-right: 170px;
}

.gallery-flex {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.italics {
    font-style: italic;
}

.field {
    display: flex;
    width: 960px;
    position: relative;
    justify-content: right;
    align-items: right;
}

.grass {
    height: 120px;
}

.girl2 {
    height: 125px;
    position: absolute;
    z-index: 2;
    padding-right: 50px;
}

.art-gallery-wrapper {
    max-width: 810px;
    height: 80vh;
    margin-bottom: 2rem;
    border: 30px solid #5A4742;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .art-gallery-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .art-gallery-slide {
    flex: 0 0 100%;
    display: flex;
    gap: 2rem;
    border-radius: 35px;
    padding: 2rem 3rem;
    box-sizing: border-box;
    align-items: center;
    background: #fff1ee;
  }
  
  .art-gallery-big-img {
    max-height: 100%;
    max-width: 60%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .art-gallery-right {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 100%;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .art-gallery-small-img {
    width: 100%;
    max-height: 60%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  .art-gallery-caption {
    overflow-y: auto;
    line-height: 1.5;
    flex-grow: 1;
  }
  
  .art-gallery-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FFF3E6;
    border: none;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    user-select: none;
    transition: background 0.3s ease;
    z-index: 10;
  }
  
  .art-gallery-btn:hover {
    background: #FFAC8A;
  }
  
  .art-gallery-btn.prev {
    left: 15px;
  }
  
  .art-gallery-btn.next {
    right: 15px;
  }
  
  .art-gallery-caption::-webkit-scrollbar {
    width: 8px;
  }
  
  .art-gallery-caption::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
  }
  
  .art-gallery-caption::-webkit-scrollbar-track {
    background: transparent;
  }

@media (max-width: 480px) {
  body {
    padding: 60px 16px 40px;
    font-size: 14px;
  }

  .nav {
    flex-direction: column;
    align-items: left;
    gap: 8px;
    font-size: 12px;
    margin-left: 0;
  }

  .skills {
    display: none;
  }

  .intro,
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .intro p {
    display: none;
  }

  .music {
    display: none;
  }

  .contact-grid {
    display: none;
  }

  .omori {
    display: none;
  }

  .dialogue-box {
    width: 100%;
  }

  .headshot {
    position: static;
    height: 120px;
    margin: 0 auto 1rem;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .pop-ups {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .rounded-box,
  .pic2 {
    width: 100%;
    height: auto;
  }

  .ds-and-games {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
  }

  .games {
    margin-top: 20px;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .prettypics {
    display: none;
  }

  .prettypics2 {
    margin-left: 50px;
  }

  .gallery-flex {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

    .art-gallery-wrapper {
      height: 95vh;
      border: 1px solid #5A4742;
    }
  
    .art-gallery-slide {
      flex-direction: column;
      padding: 1rem;
    }
  
    .art-gallery-big-img,
    .art-gallery-right {
      max-width: 100%;
      max-height: 50vh;
    }
  
    .art-gallery-right {
      margin-top: 1rem;
    }
  
    .art-gallery-caption {
      display: none;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    body {
      padding: 80px 60px 50px; /* reduce padding from desktop but more than mobile */
      font-size: 16px;
    }

    .music {
        display: none;
    }

    .nav {
      font-size: 14px;
      padding: 15px 20px;
      margin-left: 0;
    }
  
    .skills {
      display: flex; /* keep skills visible on iPad */
      justify-content: center;
      gap: 15px;
    }
  
    .intro,
    .hero {
      display: none;
    }

    .skills {
        display: none;
    }
  
    .intro p {
      display: inline; /* show intro text */
    }
  
    .omori {
      display: none;
    }

    .pop-ups {
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    
      .rounded-box,
      .pic2 {
        width: 100%;
        height: auto;
      }
  
  .ds-and-games {
    display: flex;
  }

  .games {
    margin-top: 20px;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
  
    .prettypics {
      display: none;
    }
  
    .prettypics2 {
        margin-left: 100px;
      }
    
    .gallery-flex {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
  
    /* Gallery adjustments */
    .art-gallery-wrapper {
      max-width: 700px;
      height: 75vh;
      border-width: 20px;
      border-radius: 25px;
    }
  
    .art-gallery-slide {
      padding: 1.5rem 2rem;
      gap: 1.5rem;
    }
  
    .art-gallery-big-img {
      max-width: 55%;
      max-height: 100%;
    }
  
    .art-gallery-right {
      max-width: 45%;
      margin-top: 0;
    }
  
    .art-gallery-caption {
      display: none;
    }
  
    .art-gallery-btn.prev {
      left: 10px;
      top: 60%;
    }
  
    .art-gallery-btn.next {
      right: 10px;
      top: 60%;
    }
  }
  
