@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking1 {
    0% { border-color: transparent }
    50% { border-color: #FD6492 }
    100% { border-color: transparent }
}

@keyframes blinking2 {
    0% { border-color: transparent }
    50% { border-color: #7E6A80 }
    100% { border-color: transparent }
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(circle, rgb(255, 233, 243) 0%, rgba(250,240,250,1) 100%);
    padding-top: 125px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 50px;
}

p {
    color: #7E6A80;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    display: inline;
}

.pink-space {
    color: #FD6492;
    font-weight: bold;
    font-size: 14px;
}

.gray-space {
    color: #7E6A80;
    font-weight: bold;
    font-size: 14px;
}

.mood {
    display: block;
}

.play {
    height: 40px;
    border-radius: 50%;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    gap: 10px;
}

.omori {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border: solid black;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 350px;
    width: 600px;
    position: relative;
}

.room-box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    border: solid #FD6492;
    height: 175px;
    width: 250px;
    grid-column: 6;
    grid-row: 2;
}

.team {
    height: 100px;
}

.caption {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.cat:hover, .laptop:hover, .headphones:hover, .book:hover, .girl:hover, .play:hover {
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}

.cat {
    height: 125px;
    grid-column: 4;
    grid-row: 5;
}

.laptop {
    height: 100px;
    grid-column: 1;
    grid-row: 1;
}

.headphones {
    height: 80px;
    grid-column: 4;
    grid-row: 1;
}

.book {
    height: 100px;
    grid-column: 4;
    grid-row: 3;
}

.girl {
    height: 125px;
    grid-column: 2;
    grid-row: 2;
}

.dialogue-box {
    height: 103.5px;
    width: 600px;
    border-top: solid;
    grid-row: 8;
    position: relative;
    background-color: #FEEEF1;
}

.name {
    color: #FD6492;
    font-size: 18px;
    font-family: "Georgia", serif;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 170px;
    padding-bottom: 5px;
}

.dialogue {
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    padding-left: 170px;
    color: #7E6A80;
    font-weight: 400;
    padding-right: 30px;
}

.headshot {
    position: absolute;
    top: 102px;
    left: -40.5px;
    height: 250px;
}

.hero{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
}

.contact-grid {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: repeat(5, 40px);
    height: 200px;
    width: 240px;
    border: solid;
    text-align: left;
    align-items: center;
    background-color: #FEEEF1;
}


.contact-icon1 {
    height: 40px;
    width: 240px;
    grid-column: 1;
    grid-row: 1;
    background-color:#FD6492;
}

.contact-icon2 {
    height: 40px;
    grid-column: 1;
    grid-row: 2;
}

.contact-icon3 {
    height: 40px;
    grid-column: 1;
    grid-row: 3;
}

.contact-icon4 {
    height: 40px;
    grid-column: 1;
    grid-row: 4;
}

.contact-icon5 {
    height: 40px;
    grid-column: 1;
    grid-row: 5;
}

.contact-icon6 {
    height: 40px;
    margin-left: 150px;
}

.contact-details1 {
    grid-column: 2;
    grid-row: 1;
    color:#FEEEF1;
    font-family: "Georgia", serif-sans;
    font-size: 20px;
    font-weight: 400;
}

.contact-details2 {
    grid-column: 2;
    grid-row: 2;
}

.contact-details3 {
    grid-column: 2;
    grid-row: 3;
}

.contact-details4 {
    grid-column: 2;
    grid-row: 4;
}

.contact-details5 {
    grid-column: 2;
    grid-row: 5;
}

.heading {
    color: #FD6492;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 18px;
}

.flexbox {
    display: flex;
}

.text {
    flex: 3;
}

.images {
    flex: 2;
}

.gallery {
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}

.title {
    color: #FD6492;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    grid-column: 1;
}

.title2 {
    color: #7E6A80;
    font-size: 50px;
    font-family: "Noto Sans", system-ui;
    font-weight: 200;
    grid-column: 1;
}

.bar {
    background-color: #FD6492;
    height: 2px;
    grid-column: 3;
}

.bar2 {
    background-color: #7E6A80;
    height: 1px;
}

.space {
    grid-column: 2;
}

.flexy {
    display: grid;
    grid-template-columns: auto 1fr 50fr;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.skills img:hover {
    transform: scale(1.05);
}

.skills2 {
    color: #FD6492;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: bold;
    display: inline;
}

.tailwind {
    height: 45px;
    margin-top: 5px;
}

.pop-ups {
    display: flex;
    justify-content: space-between;
}

.rounded-box {
    border: solid;
    border-radius: 25px;
    height: 400px;
    width: 300px;
    background-color: #FEEEF1;
}

.rounded-box:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 2px 1px #FFB7CB;
}

.circles {
    margin: 15px;
    display: flex;
}

.dark-pink {
    background-color:#FD6492;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 3px;
}

.exp {
    height: 20px;
}

.light-pink {
    background-color:#FFB7CB;
}

.gray {
    background-color:#7E6A80;
}

.www {
    height: 50px;
}

.bug {
    margin-left: -3px;
}

.description1 {
    margin: 20px;
    color: #7E6A80;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
}

.description2 {
    margin: 25px;
    color: #7E6A80;
    font-size: 14px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
}

.topic {
    font-weight: bold;
    font-size: 24px;
    color:#FD6492;
    margin-bottom: 8px;
    font-family: "Georgia", serif;
}

ul {
    padding-left: 15px;
}

.thin {
    font-weight: 300;
    font-style: italic;
}

.outer {
    border: solid;
    border-radius: 20px;
    height: 300px;
    width: 609px;
    background-color: #C1BAD9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    border-radius: 15px;
    height: 25px;
    width: 609px;
    background-color: #FFB7CB;
    display: flex;
}

.inner {
    border-radius: 20px;
    height: 236px;
    width: 396px;
    background-color: #FEEEF1;
    margin-right: 15px;
    margin-left: 10px;
}

.controls1 {
    height: 175px;
}

.controls2 {
    height: 175px;
}

.holes {
    height: 175px;
    margin-right: 10px;
}

.ds-and-games {
    display: flex;
}

.game {
    border: solid;
    border-radius: 10px 10px 10px 30px;
    height: 128px;
    width: 121px;
    background-color: #696969;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.on:hover {
    box-shadow: 0 3px 4px 0 #FFB7CB;
    opacity: 0.9;
    transform: scale(1.02);
    cursor: pointer;
}

.game-tag {
    display: flex;
    border-radius: 10px;
    height: 93px;
    width: 93px;
    margin-top: 10px;
    background-color: #FEEEF1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    height: 15px;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 20%);
    gap: 20px;
    margin-left: 50px;
}

.contact {
    display: flex;
    gap: 20px;
    color: #7E6A80;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    margin-top: 150px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    color: black;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    position: fixed;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    background-color: #FEEEF1;
    padding: 20px;
    width: 100%;
    margin-left: -235px;
    opacity: 0.8;
}

a:hover {
    color:#FD6492;
}

a {
    text-decoration: none;
    color: #7E6A80;
}

footer {
    color: #7E6A80;
    font-size: 12px;
    font-family: "Noto Sans", system-ui;
    font-weight: normal;
    display: inline;
}

.container {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    width: 0;
    border-right: .15em solid transparent;
    font-size: 50px;
    white-space: nowrap;
    animation: typing 3s steps(23, end) forwards, blinking1 .8s 5, blinking2 .8s 2;
}

.prettypics {
    height: 300px;
}

.cutiemood {
    width: 100%;
    margin-top: 10px;
}

.bye {
    width: 40%;
}

.gallery-flex {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.italics {
    font-style: italic;
}

@media (min-width: 319px) and (max-width: 480px) {
    body {
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    p {
        font-size: 11px;
    }

    .pink-space {
        font-size: 11px;
    }
    
    .gray-space {
        font-size: 11px;
    }

    .mood {
        display: block;
    }
    
    .intro {
        display: flex;
        flex-direction: column;
    }
    
    .music {
        display: none;
    }

    .title {
        font-size: 20px;
    }
    
    .title2 {
        font-size: 20px;
    }

    .container {
        display: block;
    }

    .typed-out {
        font-size: 25px;
    }

    .omori {
        display: contents;
    }

    .dialogue-box {
        display: none;
    }

    .headshot {
        display: none;
    }

    .contact-grid {
        display: none;
    }

    .cat:hover, .laptop:hover, .headphones:hover, .book:hover, .girl:hover, .play:hover {
        transform: scale(1);
        opacity: 1;
        cursor: default;
    }

    .cat {
        height: 87.5px;
        grid-column: 4;
        grid-row: 5;
    }
    
    .laptop {
        height: 70px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .headphones {
        height: 56px;
        grid-column: 4;
        grid-row: 1;
    }
    
    .book {
        height: 70px;
        grid-column: 4;
        grid-row: 3;
    }
    
    .girl {
        height: 87.5px;
        grid-column: 2;
        grid-row: 2;
    }

    .room-box {
        height: 122.5px;
        width: 175px;
        margin-top: 20px;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
    }
 
    .text {
        flex: 1;
    }
   
    .images {
        flex: 2;
    }
   
    .gallery {
        padding-top: 30px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
 
    .pic1 {
        width: 130px;
        grid-column: 1;
        grid-row: 1;
    }
 
    .pic2 {
        width: 130px;
        grid-column: 2;
        grid-row: 1;
    }
 
    .pic3 {
        width: 130px;
        grid-column: 1;
        grid-row: 2;
    }
 
    .pic4 {
        width: 130px;
        grid-column: 2;
        grid-row: 2;
    }

    .heading {
        font-size: 14px;
    }

    .skills {
        display: none;
    }

    .skill-issue {
        margin-top: -30px;
    }

    .pop-ups {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
 
    .rounded-box {
        height: 320px;
        width: 280px;;
    }
 
    .rounded-box:hover {
        transform: scale(1);
        box-shadow: none;
    }
 
    .description1 {
        font-size: 11px;
    }
   
    .description2 {
        font-size: 11px;
    }
 
    .topic {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px;
        text-align: center;
    }

    .screen2 {
        display: none;
    }
 
    .screen3 ul {
        display: none;
    }
 
    .screen3 a img {
        height: 60px;
        margin-left: 5px;
    }
   
    .outer {
        height: 148px;
        width: 300px;
        background-color: #C1BAD9;
    }
 
    .center {
        height: 14px;
        width: 300px;
    }
 
    .inner {
        height: 116px;
        width: 195px;
        margin-right: 15px;
        margin-left: 10px;
    }

    .description2 .thin {
        display: none;
    }

    .controls1 {
        height: 86px;
        margin-right: -8px;
    }
   
    .controls2 {
        height: 86px;
        margin-left: -8px;
    }

    .holes {
        height: 86px;
        margin-right: -4px;
        margin-left: -10px;
    }
 
    .ds-and-games {
        display: flex;
        flex-direction: column-reverse;
    }
 
    .game {
        border-radius: 10px;
        height: 63px;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;
    }
 
    .game-tag {
        display: flex;
        border-radius: 10px;
        height: 46px;
        width: 46px;
        margin-top: 7px;
        margin-bottom: -5px;
    }
 
    .down-arrow {
        height: 7px;
    }
 
    .games {
        display: flex;
        gap: 10px;
        margin-left: 0px;
    }
 
    .off {
        display: none;
    }
 
    .contact {
        gap: 20px;
        color: #7E6A80;
        font-size: 8px;
        margin-top: 30px;
    }

    .team {
        display: none;
    }
    
    .caption {
        display: none;
    }
 
    .nav {
        display: none;
    }
 
    footer {
        font-size: 8px;
    }

    .prettypics {
        height: 200px;
        width: auto;
    }
 
    .cutiemood {
        display: none;
    }
 
    .bye {
        height: 250px;
        width: auto
    } 

    .gallery-flex {
        display: block;
    }

    .gallery-flex p {
        display: none;
    }
 
    p.gallery-flex {
        display: none;
    }
 
    .scratch {
        display: none;
    }

    .flexy {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .room-box {
        border: 0.5 solid #FD6492;
     }
     
     .rounded-box {
        border: 0.5px solid;
     }
     
     .outer {
        border: 0.5px solid;
     }
     
     .game {
        Border: 0.5px solid;
     }
}

@media (min-width: 481px) and (max-width: 1200px) {
    body {
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    p {
        font-size: 12px;
    }

    .pink-space {
        font-size: 12px;
    }

    .gray-space {
        font-size: 12px;
    }
    
    .intro {
        display: flex;
        flex-direction: column;
    }
    
    .music {
        display: none;
    }

    .title {
        font-size: 45px;
    }
    
    .title2 {
        font-size: 45px;
    }

    .container {
        display: block;
    }

    .typed-out {
        font-size: 35px;
    }

    .omori {
        display: contents;
    }

    .dialogue-box {
        display: none;
    }

    .headshot {
        display: none;
    }

    .contact-grid {
        display: none;
    }

    .cat:hover, .laptop:hover, .headphones:hover, .book:hover, .girl:hover, .play:hover {
        transform: scale(1);
        opacity: 1;
        cursor: default;
    }

    .cat {
        height: 120px;
        grid-column: 4;
        grid-row: 5;
    }
    
    .laptop {
        height: 96px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .headphones {
        height: 77px;
        grid-column: 4;
        grid-row: 1;
    }
    
    .book {
        height: 96px;
        grid-column: 4;
        grid-row: 3;
    }
    
    .girl {
        height: 120px;
        grid-column: 2;
        grid-row: 2;
    }

    .room-box {
        height: 169px;
        width: 241px;
        margin-top: 20px;
    }

    .team {
        display: none;
    }

    .caption {
        display: none;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
    }
     .text {
        flex: 1;
    }
   
    .images {
        flex: 2;
    }
   
    .gallery {
        padding-top: 30px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

    .pic1 {
        width: 150px;
        grid-column: 1;
    }

    .pic2 {
        width: 150px;
        grid-column: 2;
    }

    .pic3 {
        width: 150px;
        grid-column: 3;
    }

    .pic4 {
        width: 150px;
        grid-column: 4;
    }

    .flexy {
        align-items: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }
     .skills {
        display: none;
    }

     .skills2 {
        font-size: 12x;
    }

     .skill-issue {
        margin-top: -30px;
    }

     .pop-ups {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        width: 615px;
    }
     .rounded-box {
        height: 350px;
    }

    .rounded-box:hover {
        transform: scale(1);
        box-shadow: none;
    }
     
    .description1 {
        font-size: 12px;
    }
   
    .description2 {
        font-size: 12px;
    }
     
    .topic {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 8px;
        text-align: center;
    }

    .screen2 {
        display: none;
    }
     .screen3 ul {
        display: none;
    }
     .screen3 a img {
        height: 80px;
        margin-left: 5px;
    }

    .description2 .thin {
        display: none;
    }

    .outer {
        height: 178px;
        width: 360px;
        background-color: #C1BAD9;
    }

     .center {
        height: 17px;
        width: 360px;
    }

     .inner {
        height: 140px;
        width: 235px;
        margin-right: 18px;
        margin-left: 12px;
    }

     .controls1 {
        height: 103px;
        margin-right: -8px;
    }
   
    .controls2 {
        height: 103px;
        margin-left: -8px;
    }

     .holes {
        height: 103px;
        margin-right: -4px;
        margin-left: -10px;
    }

    .ds-and-games {
        display: flex;
    }

    .game {
        border-radius: 10px;
        height: 75px;
        width: 72px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .game-tag {
        display: flex;
        border-radius: 10px;
        height: 55px;
        width: 55px;
        margin-top: 7px;
        margin-bottom: -5px;
    }

    .down-arrow {
        height: 8px;
    }

    .games {
        gap: 10px;
        margin-left: 20px;
    }

    .off {
        display: none;
    }

    .contact {
        gap: 20px;
        color: #7E6A80;
        font-size: 10px;
        margin-top: 30px;
    }

    .nav {
        display: none;
    }

    footer {
        font-size: 10px;
    }

    .prettypics {
        height: 375px;
        width: auto;
    }

    .cutiemood {
        display: none;
    }

     .bye {
        height: 471px;
        width: auto;
    }

    .gallery-flex {
        display: block;
    }

     .gallery-flex p {
        display: none;
    }

    p.gallery-flex {
        display: none;
    }

     .scratch {
        display: none;
    }

     .room-box {
        border: 0.5 solid #FD6492;
     }
     
     .rounded-box {
        border: 0.5px solid;
     }
     
     .outer {
        border: 0.5px solid;
     }
     
     .game {
        Border: 0.5px solid;
     }
 }
